<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Site</title>
    <!-- Seus links de CSS, scripts, etc. -->
</head>
<body>
    <header>
        <h1>Licitações PMTF</h1>
        <nav>
            <!-- Seu menu de navegação pode vir aqui -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo das páginas filhas será inserido aqui. -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Meu Site</p>
    </footer>
</body>
</html>